<div *ngIf="isSmallWidth$ | async; else wideLayout"
    class="datasource-layout-container datasource-small-layout-container">

    <div class="date-external-link-container">
        <ng-template [cdkPortalOutlet]="portalsByPosition['date-external-link'] | async"></ng-template>
    </div>

    <div class="title-container">
        <ng-template [cdkPortalOutlet]="portalsByPosition['title'] | async"></ng-template>
    </div>

    <div class="contributor-container">
        <ng-template [cdkPortalOutlet]="portalsByPosition['contributor'] | async"></ng-template>
    </div>

    <div class="abstract-container">
        <ng-template [cdkPortalOutlet]="portalsByPosition['abstract'] | async"></ng-template>
    </div>

    <div class="tag-container">
        <ng-template [cdkPortalOutlet]="portalsByPosition['tag'] | async"></ng-template>
    </div>

    <div class="cite-container">
        <ng-template [cdkPortalOutlet]="portalsByPosition['cite'] | async"></ng-template>

    </div>

    <div class="content-container">
        <ng-template [cdkPortalOutlet]="portalsByPosition['content'] | async"></ng-template>
    </div>

    <div class="doc-container">
        <ng-template [cdkPortalOutlet]="portalsByPosition['doc'] | async"></ng-template>
    </div>


</div>

<ng-template #wideLayout>
    <div class="datasource-layout-container datasource-wide-layout-container">
        <div class="left-column">

            <div class="date-external-link-container">
                <ng-template [cdkPortalOutlet]="portalsByPosition['date-external-link'] | async"></ng-template>
            </div>

            <div class="title-container">
                <ng-template [cdkPortalOutlet]="portalsByPosition['title'] | async"></ng-template>
            </div>

            <div class="contributor-container">
                <ng-template [cdkPortalOutlet]="portalsByPosition['contributor'] | async"></ng-template>
            </div>

            <div class="abstract-container">
                <ng-template [cdkPortalOutlet]="portalsByPosition['abstract'] | async"></ng-template>
            </div>

            <div class="content-container">
                <ng-template [cdkPortalOutlet]="portalsByPosition['content'] | async"></ng-template>
            </div>

            <div class="doc-container">
                <ng-template [cdkPortalOutlet]="portalsByPosition['doc'] | async"></ng-template>
            </div>
        </div>

        <div class="right-column">
            <div class="tag-container">
                <ng-template [cdkPortalOutlet]="portalsByPosition['tag'] | async"></ng-template>
            </div>

            <div class="cite-container">
                <ng-template [cdkPortalOutlet]="portalsByPosition['cite'] | async"></ng-template>
            </div>
        </div>


    </div>
</ng-template>