<div class="home-page">

    <div class="rki-logo-container"><a class="rki-logo" href="https:www.rki.de" target="_blank"></a></div>

    <app-datasource-layout>
        <app-datasource-layout-item position="title">
            <div>{{datasource.name}}</div>
        </app-datasource-layout-item>

        <app-datasource-layout-item position="authors">
            <app-datasource-contributor-list [authors]="datasource.authors">
            </app-datasource-contributor-list>
        </app-datasource-layout-item>

        <app-datasource-layout-item position="contributors">
            <app-datasource-contributor-list [contributors]="datasource.contributors">
            </app-datasource-contributor-list>
        </app-datasource-layout-item>

        <app-datasource-layout-item position="licence-small">
            <app-datasource-licence [datasource]="datasource"></app-datasource-licence>
        </app-datasource-layout-item>

        <app-datasource-layout-item position="licence">
            <h2 class="mat-title" id="licence">Lizenz</h2>
            <app-datasource-licence [datasource]="datasource" mode="large"></app-datasource-licence>
        </app-datasource-layout-item>

        <app-datasource-layout-item position="abstract">
            <h2 class="mat-title" id="abstract">Zusammenfassung</h2>
            <div class="abstract" [innerHtml]="datasource.description | safeHtml"> </div>
        </app-datasource-layout-item>

        <app-datasource-layout-item position="tag">
            <h2 class="mat-title" id="tags">Schlagwörter</h2>
            <app-datasource-tags [datasource]="datasource"></app-datasource-tags>
        </app-datasource-layout-item>

        <app-datasource-layout-item position="cite">
            <h2 class="mat-title" id="cite">Zitieren</h2>
            <app-datasource-cite [datasource]="datasource"></app-datasource-cite>
        </app-datasource-layout-item>

        <app-datasource-layout-item position="links">
            <h2 class="mat-title" id="links">Datenquellen</h2>
            <app-datasource-links [datasource]="datasource"></app-datasource-links>

            <!-- <app-table-of-content [datasource]="datasource"></app-table-of-content> -->
        </app-datasource-layout-item>

        <app-datasource-layout-item position="content">
            <div class="title-date-container">
                <h2 class="title mat-title" id="content">Dateien / Inhalt</h2>
                <div class="date">Datenstand: {{datasource.lastUpdated | date}}</div>
            </div>
            
            <app-datasource-content-list [datasource]="datasource"></app-datasource-content-list>
        </app-datasource-layout-item>

        <app-datasource-layout-item position="doc">
            <!-- *ngIf="getUrls(datasource) as urls" -->
            <!-- <h2 class="mat-title">Dokumentation</h2> -->
            <div id="documentation"></div>
            <app-datasource-readme [readme]="datasource.readme" class="markdown-preview"></app-datasource-readme>
            <!-- <app-markdown-preview [url]="urls.doc" [baseUrl]="urls.base" class="markdown-preview"> </app-markdown-preview> -->
        </app-datasource-layout-item>

    </app-datasource-layout>
</div>