@use 'sass:map';
@use '~@angular/material' as mat;

@mixin datasource-cite-component($theme) {
    $color-config: mat.get-color-config($theme);
    $accent-palette: map.get($color-config, "accent");

    .cite-comp-container {
        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: 14px;

        .cite-string {
            flex: 1;
            cursor: pointer;

            background-color: mat.get-color-from-palette($accent-palette);
            margin-bottom: 0;
            padding: 1em;

            max-width: 100%;
            overflow-wrap: anywhere;
            white-space: break-spaces;
        }

        .button-container {
            position: relative;
            flex: 0;

            .copy-button {
            }

            .tooltip-fake {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
}
