// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;

// Plus imports for other components in your app.
@import "app/components/datasource-content-preview/datasource-content-preview.component.scss";
@import "app/components/datasource-readme/datasource-readme.component.scss";
@import "app/components/image-preview/image-preview.component.scss";
@import "app/components/markdown-preview/markdown-preview.component.scss";
@import "fonts.scss";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$md-mdrkiblue: (
  50: #e0e8f3,
  100: #b3c5e0,
  200: #809fcb,
  300: #4d79b6,
  400: #265ca7,
  500: #003f97,
  600: #00398f,
  700: #003184,
  800: #00297a,
  900: #001b69,
  A100: #98a9ff,
  A200: #657fff,
  A400: #3255ff,
  A700: #193fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-mdrkiblueaccent: (
  50: #e0e5ec,
  100: #b3bfcf,
  200: #8094b0,
  300: #4d6990,
  400: #264878,
  500: #002860,
  600: #002458,
  700: #001e4e,
  800: #001844,
  900: #000f33,
  A100: #6b84ff,
  A200: #3859ff,
  A400: #052fff,
  A700: #0027eb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rki-primary: mat.define-palette($md-mdrkiblue); //mat.define-palette(mat.$indigo-palette);
$rki-accent: mat.define-palette($md-mdrkiblueaccent);
// The warn palette is optional (defaults to red).
$rki-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$theme: mat.define-light-theme(
  (
    color: (
      primary: $rki-primary,
      accent: $rki-accent,
      warn: $rki-warn,
    ),
    typography: mat.define-typography-config(),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);

@include datasource-content-preview-component($theme);
@include datasource-readme-component($theme);
@include image-preview-component($theme);
@include markdown-preview-component($theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  // background: red;
  overflow: hidden;
}

body {
  // overflow-x: hidden;
  // background: green;
  max-height: 100%;
  max-width: 100%;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-wrapper {
  max-height: 100%;
  max-width: 100%;
  overflow: auto;
}

// body { overflow-y: scroll; }

.my-dialog-panel {
  background-color: white;

  & > * {
    width: 100%;
    height: 100%;
  }
}


// * {
//   box-sizing: border-box;
// }
