// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@use 'sass:map';

// Plus imports for other components in your app.
@import "app/components/datasource-content-preview/datasource-content-preview.component.scss";
@import "app/components/datasource-readme/datasource-readme.component.scss";
@import "app/components/image-preview/image-preview.component.scss";
@import "app/components/markdown-preview/markdown-preview.component.scss";
@import "app/components/datasource-cite/datasource-cite.component.scss";
@import "app/components/datasource-contributor-list/datasource-contributor-list.component.scss";
@import "app/components/datasource-layout/datasource-layout.component.scss";
@import "app/components/datasource-links/datasource-links.component.scss";
@import "app/components/datasource-licence/datasource-licence.component.scss";
@import "app/pages/home-page/home-page.component.scss";
@import "fonts.scss";

// $font-size: 16px,
// $line-height: 1.5,
// $word-wrap: break-word
$git-foreground: #24292f;
$git-font-family: '-apple-system,  BlinkMacSystemFont,  "Segoe UI",  Helvetica,  Arial,  sans-serif,  "Apple Color Emoji",  "Segoe UI Emoji"';
$git-typography: mat.define-typography-config(
  $font-family: $git-font-family,
  $body-1: mat.define-typography-level(16px, 1.5, 400),
);

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core($git-typography);

/* For use in src/lib/core/theming/_palette.scss */
/* For use in src/lib/core/theming/_palette.scss */
$md-royalblue: (
  50: #e0e8f3,
  100: #b3c5e0,
  200: #809fcb,
  300: #4d79b6,
  400: #265ca7,
  500: #003f97,
  600: #00398f,
  700: #003184,
  800: #00297a,
  900: #001b69,
  A100: #98a9ff,
  A200: #657fff,
  A400: #3255ff,
  A700: #193fff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-marine: (
  50: #e1e5ea,
  100: #b3bfc9,
  200: #8194a6,
  300: #4f6982,
  400: #294867,
  500: #03284c,
  600: #032445,
  700: #021e3c,
  800: #021833,
  900: #010f24,
  A100: #5f8bff,
  A200: #2c66ff,
  A400: #0044f8,
  A700: #003ddf,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$md-taube: (
  50: #f2f4f8,
  100: #dee4ee,
  200: #c9d2e3,
  300: #b3c0d7,
  400: #a2b3cf,
  500: #92a5c6,
  600: #8a9dc0,
  700: #7f93b9,
  800: #758ab1,
  900: #6379a4,
  A100: #ffffff,
  A200: #e2ecff,
  A400: #afc9ff,
  A700: #96b8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$md-nebel: (
  50: #fdfdfe,
  100: #f9fbfd,
  200: #f6f8fb,
  300: #f2f5f9,
  400: #eff2f8,
  500: #ecf0f7,
  600: #eaeef6,
  700: #e7ecf5,
  800: #e4e9f3,
  900: #dfe5f1,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rki-primary: mat.define-palette($md-royalblue); //mat.define-palette(mat.$indigo-palette);
$rki-accent: mat.define-palette($md-nebel);
// The warn palette is optional (defaults to red).
$rki-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rki-theme: mat.define-light-theme(
  (
    color: (
      primary: $rki-primary,
      accent: $rki-accent,
      warn: $rki-warn,
    ),
    typography: $git-typography,
  )
);

@function git-foreground() {
  @return (base: $git-foreground, divider: $git-foreground, dividers: $git-foreground);
}
$theme: map-merge($rki-theme, (foreground: git-foreground()));

// @debug $theme;

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($theme);

@include datasource-content-preview-component($theme);
@include datasource-readme-component($theme);
@include image-preview-component($theme);
@include markdown-preview-component($theme);
@include datasource-cite-component($theme);
@include datasource-layout-component($theme);
@include datasource-contributor-list-component($theme);
@include home-page-component($theme);
@include datasource-links-component($theme);
@include datasource-licence-component($theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  // height: 100%;
  padding: 0;
  margin: 0;
  // background: red;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  // overflow-x: hidden;
  // background: green;
  // max-height: 100%;
  max-width: 100%;

  font-family: $git-font-family;
  color: $git-foreground;
}

.content-wrapper {
  // max-height: 100%;
  // max-width: 100%;
  // overflow: auto;
}

// body { overflow-y: scroll; }

.overlay-dialog-panel {
  background-color: white;
  width: 80vw;
  height: 85vh;
  max-width: 80vw;
  max-height: 85vh;

  & > * {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 700px) {
  .overlay-dialog-panel {
    width: 92vw;
    height: 87vh;
    max-width: 92vw;
    max-height: 87vh;
  }
}

.mat-standard-chip {
  border-radius: 0 !important;
}

// * {
//   box-sizing: border-box;
// }
